
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

header, footer {
  width: 100%;
  border: 1px solid;
  padding: 10px 20px;
}

header, footer {
  background-color: rgb(4, 49, 23);
}

.header_logo {
  font-size: 45px;
  color: rgb(255, 247, 237);
  font-weight: bold;
  font-style: italic;
  cursor: point
}

section {
  display: flex;
  height: calc(100vh - 120px); /* 헤더,푸터 제외한한 전체 높이 */
}

.nav_container {
  border: 0.5px solid;
  width: 20%;
  min-width: 180px;
  padding: 20px;
  background:  rgb(249, 246, 243);
}

.section_container {
  background-color: rgb(249, 246, 243);
  border: 0.5px solid;
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

li {
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
}

.footer_content {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 247, 237);
}

/*  반응형 */
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .nav_container, .section_container {
    width: 100%;
    height: auto;
  }

  .nav_container {
    order: 1;
  }

  .section_container {
    order: 2;
  }
}
