* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: pretendard;
  }
  
  header, footer {
    width: 100%;
    border: 1px solid;
    padding: 10px 20px;
  }
  
  header, footer {
    background-color: black;
  }
  
  .header_logo {
    font-size: 26px;
    color: rgb(255, 247, 237);
    font-weight: bold;
    font-style: italic;
    cursor: point
  }
  
  .header_logo:hover {
    color: rgb(145, 145, 145);
  }
  
  section {
    display: flex;
    height: calc(100vh - 93px); /* 헤더,푸터 제외한한 전체 높이 */
  }
  
  .nav_container {
    border: none;
    width: 15%;
    min-width: 180px;
    padding: 20px;
    background: black;
  }
  
  .section_container {
    background-color:black;
    border: 0.5px solid;
    width: 85%;
    padding: 20px;
    overflow-y: auto;
    background-image: url('img/main.jpg');
    background-size: cover;
    opacity: 1;
    transition :opacity 1s ease-in-out;
    border: none;
}

  .section_content {
    font-family: "Noto Sans KR", sans-serif;
    color: white;
    margin: 350px;
  }
  
  .section_container.fade_out {
    opacity: 0;
  }

  .infoTitle{
    font-size: 60px;
    margin: 0PX 0PX 10PX 60PX;
  }

  .infoNameZone {
    font-size: 35px;
    margin: 0px 0px 0px 70px;
    
  }

  .logo {
    cursor: pointer;
  }
  
  li {
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: rgb(145, 145, 145);
    position: relative;
  }
  
  li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: left;
    width: 45%;
    height: 2px;
    background-color:white;
    transition: transform 0.5s ease;
  }
  
  li:hover {
    color: white;
  }
  
  li:hover::after {
    transform: scaleX(1);
  }
  
  .footer_content {
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 247, 237);
  }

  /* 프로필 섹션 */
  .profile {
    font-family: Noto Sans KR;
    font-size: 28px;
    width: 60%;
    margin: 300px 0px 0px 680px ;
  }
  
  .label {
    font-weight: bold;
    color:rgb(145, 145, 145);
    display: inline-block;
    width: 120px;
    margin-bottom: 20px;
  }
  
  .key {
    color: #ddd;
    display: inline-block;
  }
  
  a.key {
    color: #4fa3d1;
    text-decoration: none;
  }
  
  a.key:hover {
    text-decoration: underline;
  }
